{% extends 'tarefas/baseBuddyAbroad.html' %}
{% load static %}

{% block main %}
    <style>
        input[type=tel], input[type=date] {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
        }
    </style>
    <section style="padding-top: 60px;text-align: center;">
        <h2>Share Your Experience</h2>
        <p>Leave a review down below!</p>
    </section>

    <section style="padding: 20px 48px 0px;margin: 2% 5%;border-radius: 2%;background-color: #f2f2f2;">
        {% if comments %}
            <h2 style="text-align: center;">
                {{ averageStars }} <i class="text-warning fa fa-star"></i>
                <span style="font-size: .67em;color: gray">{{ reviewCount }} reviews</span></h2>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p>
                        <i class="text-warning fa fa-star"></i><i class="text-warning fa fa-star"></i><i
                            class="text-warning fa fa-star"></i><i class="text-warning fa fa-star"></i><i
                            class="text-warning fa fa-star"></i>
                    </p>
                    <span class="badge bg-secondary">{{ starRatings4 }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p>
                        <i class="text-warning fa fa-star"></i><i class="text-warning fa fa-star"></i><i
                            class="text-warning fa fa-star"></i><i class="text-warning fa fa-star"></i>
                    </p>
                    <span class="badge bg-secondary">{{ starRatings3 }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p>
                        <i class="text-warning fa fa-star"></i><i class="text-warning fa fa-star"></i><i
                            class="text-warning fa fa-star"></i>
                    </p>
                    <span class="badge bg-secondary">{{ starRatings2 }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p>
                        <i class="text-warning fa fa-star"></i><i class="text-warning fa fa-star"></i>
                    </p>
                    <span class="badge bg-secondary">{{ starRatings1 }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p>
                        <i class="text-warning fa fa-star"></i>
                    </p>
                    <span class="badge bg-secondary">{{ starRatings0 }}</span>
                </li>
            </ul>
            <br>
        {% else %}
            <h2 style="text-align: center;">No reviews for graph building</h2>
            <br>
        {% endif %}
    </section>

    <section style="padding: 20px 48px 0px;margin: 2% 5%;border-radius: 2%;background-color: #f2f2f2;">

        {% if comments %}
            <div class="container-fluid">
                <div class="row">
                    {% for comment in comments %}
                        <div class="card" style="width: 100%;margin-bottom: 2%">
                            <div class="card-body">
                                <h5 style="color: #feaa00" class="card-title">{{ comment.name }}
                                    <span style="margin-left: 5px; color: black"
                                          class="float-right">{{ comment.rating }} <i
                                            class="text-warning fa fa-star"></i></span></h5>
                                <p class="card-text">{{ comment.comment }}</p>
                                <small>{{ comment.postedTime }}</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <br>
        {% else %}
            <h2 style="text-align: center;">No reviews yet</h2>
            <br>
        {% endif %}
    </section>

    <section>
        <div class="containerForm">
            <form id="comment" action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Send" class="btn btn-success">
            </form>
        </div>
    </section>

{% endblock %}




